html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
body{
    margin:0;
    background: linear-gradient(135deg, #29252e 0%,#16161d 100%);
    font-family: Montserrat;
    color:#eaf5ff!important;
    flex-direction: row;
}

*{
    box-sizing: border-box!important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a{
    text-decoration: none;
    color:white;
}


h1 {
    font-size: calc(50px + (90 - 50) * ((100vw - 350px) / (1920 - 350)));
}

h2 {
    font-size: calc(25px + (35 - 25) * ((100vw - 350px) / (1920 - 350)));
}

h3 {
    font-size: calc(9px + (15 - 9) * ((100vw - 350px) / (1920 - 350)));
    margin: 10px 0;
}

h5{
    font-weight: 500;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1d1d1d; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 48, 48); 
  }

/* ####################################################################### PRELOADER ######################################################################### */

.preloader{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 90;
    background: linear-gradient(135deg, #29252e 0%,#16161d 100%);
}

.loading-data {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .three-bounce {
    font-size: 0;
  }
  
  .three-bounce div {
    width: 15px;
    height: 15px;
    background-color: #ff5e57;
    display: inline-block;
    animation: threeBounceDelay 1.4s infinite ease-in-out;
    animation-fill-mode: both;
    margin: 0 1px;
  }
  
  .three-bounce .bounce1 {
    animation-delay: -0.32s;
  }
  
  .three-bounce .bounce2 {
    animation-delay: -0.16s;
  }
  
  @keyframes threeBounceDelay {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(.75);
    }
  }

/* ####################################################################### MAIN PAGE ######################################################################### */


.main-page{
    margin:5%;
    width:100%;
    margin-top:2%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width:100%;
    user-select: none;
}
.name svg {
    width:70px;
    height: 70px;
    fill:#ff5e57;
}
.name{
    font-size:23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name p{ 
    margin-top:15px;
    font-weight: 900;
}

header ul{
    list-style-type: none;
    user-select: none;
}

header li{
    display: inline-block;
    margin:10px;
    font-weight: 900;
    cursor: pointer;
    transition: all .5s;
}
header li:nth-child(1):hover, header li:nth-child(2):hover{
    color: #ff5e57;
    text-shadow: 0px 0px 21px rgb(255,94,87,.2); 
    transform: scale(1.05);
}
.menu__button {
    border:0;
    padding:10px 20px;
    font-weight: 900;
    border-radius: 5px;
    color:#eaf5ff!important;
    transition: all .5s;
    cursor:pointer;
}
.login{
    background-color:#ff5e57;
    box-shadow: #ff5e57 0px 0rem 1.5rem 0px;
}
.register{
    border: 1px solid #ff5e57;
    background:none;
    box-shadow: #222f3e 0px 0.4rem 1.5rem 0px;
}
.login:hover{

    box-shadow: #222f3e 0px 0.4rem 1.5rem 0px;
}
.register:hover{
    background-color:#ff5e57;
    box-shadow: #131b23 0px 0.4rem 1.5rem 0px;
}

/* ####################################################################### REGISTER ######################################################################### */


.container__register, .container__login{
    height: 100%;
    width:100%;
}

.container__register, form,.container__login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__register,.header__login{
    position: absolute;
    margin:5%;
    margin-top:2%;
    width:90%;
}
input {
    font-family: Montserrat!important;
    margin-bottom:15px;
}

input[type=button], input[type=submit],button[type=button] {
    cursor: pointer;
    background-color: #ff5e57;
    border: none;
    color: white;
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-family:Montserrat;
    box-shadow: 0 10px 15px 0 rgba(255,94,87,04);
    border-radius: 5px 5px 5px 5px;
    margin: 25px 20px 40px 20px;
    transition: all .5s;
}
input[type=button]:hover, input[type=submit]:hover,button[type=button]:hover{
    box-shadow: 0 0 15px 0 rgba(255,94,87,04);
    background-color:#e6554d;
}
input[type=text], input[type=password] {
    background-color: #141314;
    border: none;
    color: #7d7b90;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(255,94,87,0);
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
  }
input[type=text]:focus,input[type=password]:focus {
    border-bottom: 2px solid #ff5e57;
}

 /* ####################################################################### PANEL ######################################################################### */


.leftbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:14%;
    height: 100%;
    padding:2%;
    flex-direction: column;
    color:#7d7b90;
    user-select: none;
    text-transform: uppercase;
}
.leftbar a svg{
    width:50px;
    height: 50px;
    margin-left:-10px;
}

.leftbar__menu{
    margin-bottom:200px;
}

.leftbar ul {
    list-style-type: none;
    padding: 0;
}

.leftbar li {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all;
    fill: #7d7b90;
    transition: .6s all;
}

.leftbar li:hover{
    color:white!important;
    fill:white!important;
}

.leftbar li svg {
    width:25px;
    height: 25px;
    margin-right: 30px;
}

.active, .active svg{
    color:white!important;
    fill:white!important;
}

.leftbar__user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftbar__user svg{
    width:20px;
    height: 20px;
    fill:#7d7b90;
    cursor:pointer;
    transition: .5s all;
}
.leftbar__user svg:hover{
    fill:#ff5e57;
}

.leftbar__username{
    font-weight: 900;
}

.topbar{
    width:100%;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    
}

.topbar__add{
    width:60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff5e57;
    fill:white;
    cursor: pointer;
    transition: .5s all;
    border-bottom-left-radius: 5px;
    z-index: 20;
}

.topbar__add svg{
    width:20px;
    height: 20px;
}

.topbar__add:hover{
    background-color:white;
    fill:#ff5e57
}


/*#3e4653*/

.dashboard{
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    padding:20px;
	flex-wrap:wrap;
	overflow:auto;
}

.dashboard__event{
    width:28%;
    height: 25vh;
    min-width: 350px;
    background-color: rgba(27, 27, 36, 0.637);
    display: flex;
    align-items: flex-end;
    flex-direction:column;
    user-select: none;
    box-shadow: #03030336 0px 0px 15px 5px;
    margin:30px;
    flex-wrap: wrap;
}

.dashboard__eventName{
    margin-right:auto;
    margin-bottom: 0;
    margin-left:10px;
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;
}

.dashboard__type{
    width:50px;
    height: 50px;
    margin-top:0;
    fill:#ff5e57;
    padding:10px;
}

.dashboard__info{
    width:100%;
    height: 40%;
    background-color:#ff5e57;
    padding:20px;
    margin-top:auto;
}
.dashboard__info svg{
    width: 20px;
    height: 20px;
    fill:white;
    margin-right:10px;
}
.dashboard__time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.dashboard__hour,.dashboard__date{
    display: flex;
    align-items: center;
}

.dashboard__noEvents, .friends__noFriends, .popup__find{
    background-color:#17171f;
    padding:50px;
    margin:auto;
}

 /* ####################################################################### NEW EVENT ######################################################################### */


.bg{
    position: absolute;
    width:100%;
    height: 100%;
    background-color:black;
    opacity: 0;
    display: none;
    transition: all .5s;
}

 .newEvent, .popup{
     display: none;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width:65%;
     height: 70%;
     background-color:#16161d;
     border-radius: 10px;
     position: absolute;
     top: 50%; 
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 10;
     opacity: 0;
    transition: all .5s;
 }

 .newEvent__form{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top:auto;
 }

.newEvent input{
    height: auto;
}

.newEvent input[type="text"], .newEvent input[type="password"], .friends__addFriends input {
    width: 350px;
    padding: 10px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
    font-size: 16px;
    margin-bottom: 50px;
    border-radius: 0;
}

.newEvent__submit{
    margin-top:0!important;
}

.newEvent__footer{
    margin-top:auto;
}
  
#newEvent__cancel, .cancel{
    background-color: rgb(142, 155, 168)!important;
    box-shadow: 0 0px 0px 0 rgb(142, 155, 168)!important;
    margin-top:10px;
}

#newEvent__cancel:hover, .cancel:hover{
    box-shadow: 0 0 15px 0 rgb(142, 155, 168)!important;
}

label{
    display: block;
    color:#7d7b90;
    margin-bottom: -5px;
}
#slct{
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #393841;
    overflow: hidden;
    border-radius: .25em;
    color:white;
    border:none;
    font-family:Montserrat;
    text-transform: uppercase;
}

/* ####################################################################### PROFILE PAGE ######################################################################### */

.profile{
    height: 100%;
    width:86%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:100px;  
    padding-bottom: 300px;
}

.profile h4{
    font-weight: 500;
}

.profile__username{
    color:#7d7b90;
    text-transform: uppercase;
}

/* ####################################################################### FRIENDS PAGE ######################################################################### */

.friends{
    height: 100%;
    width:86%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.friends__heading{
    color:#7d7b90;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.friends__heading h2{
    margin:0;
}

.friends__heading button{
    display: flex;
    font-weight: 700;
    box-shadow: none;
    font-size: 9px;
    padding: 10px 20px;
}

.friends__invites{
    background-color:#0E6BA8!important;
}

.friends__invites:hover{
    box-shadow: 0 0 15px 0 #0E6BA8!important;
}

.friends__buttons,.requests__buttons{
    display: flex;
}

.friends__heading button svg{
    width:9px;
    height: 9px;
    fill:white;
    margin-right: 10px;
}

.friends__searchBar{
    margin-bottom: 0!important;
}

.friends__list{
    width:100%;
    padding:50px;
    height: 85%;
	display:flex;
	flex-wrap:wrap;
}

.friends__user{
    width:300px;
    background-color:#1a1a25;
    padding:10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin:15px;
    height: 170px;
}

.friends__message{
    padding:8px 30px!important;
    margin-top:15px!important;
}

.friends__fullList svg{
    width:20px;
    height: 20px;
    fill:white;
    margin-right: 10px;
}

.friends__remove{
    cursor: pointer;
    width:15px!important;
    height: 15px!important;
}

.friends__list svg{
    width:10px;
    height: 10px;
    fill:white;
    margin-right: 10px;
}

.friends__list button, .friends__fullList button{
    display: flex;
    align-items: center;
    font-weight: 700;
    box-shadow: none;
    font-size: 11px;
    padding: 8px 20px;
    white-space: nowrap;
    margin-bottom:10px;
    margin-top:10px;
}

.friends__fullList{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding:70px;
    height: 60%;
}

.requests__list{
    height: 70%;
    width:90%;
    display: flex;
    flex-wrap: wrap;
}

.requests__user{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    background-color:#101016;
    margin:20px;
}

.requests__user button{
    padding: 10px 20px;
    font-size:10px
}

.accept,.decline{
    box-shadow: none!important;
    font-weight: bold;
}

.accept{
    background-color:#32FCA1!important;
}

.decline{
    background-color:#ff5e57;
}

.accept:hover{
    box-shadow: 0px 0px 10px 0px #32FCA1!important;
}

.decline:hover{
    box-shadow: 0px 0px 10px 0px #ff5e57!important;
}


/* ####################################################################### MEDIA ######################################################################### */

@media only screen and (max-width: 1180px) {
    .dashboard{
        justify-content: center;
        align-items: center;
    }
    .newEvent__footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button[type=button]{
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 700px) {
    .leftbar{
        display: none;
    }
    .panel{
        width:100%!important;
    }
}
@media only screen and (max-width: 920px) {
    .newEvent, .popup{
        width:90%;
    }
}

@media only screen and (max-width: 500px) {
    .leftbar{
        display: none;
    }
    .panel{
        width:100%!important;
    }
    .dashboard__event{
        min-width: 300px;
    }
}

